<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>age</key>
		<string>18</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>age</key>
		<string>20</string>
		<key>sex</key>
		<string>女</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三3</string>
		<key>age</key>
		<string>35</string>
		<key>sex</key>
		<string>女</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三4</string>
		<key>age</key>
		<string>25</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三5</string>
		<key>age</key>
		<string>46</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三6</string>
		<key>age</key>
		<string>67</string>
		<key>sex</key>
		<string>女</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三7</string>
		<key>age</key>
		<string>19</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三8</string>
		<key>age</key>
		<string>99</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三9</string>
		<key>age</key>
		<string>97</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三10</string>
		<key>age</key>
		<string>12</string>
		<key>sex</key>
		<string>男</string>
	</dict>
</array>
</plist>
